---
layout: page
title: "About"
description: ""
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<!-- <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
    肖申克的救赎 节选
    </blockquote>


   There's a guy like me in every state and federal prison in America, I guess- I'm the guy who can get it for you. Tailor-made cigarettes，a bag of reefer，if you're partial to that, a bottle of brandy to celebrate your son or daughter's high school graduation，or almost anything else... within reason，that is. It wasn't always that way. <br><br>

   我猜美国每个州立监狱和联邦监狱里，都有像我这样的人物，不论什么东西，我都能弄到手。无论是高级香烟或大麻(如果你有此偏好的话)，或弄瓶白兰地来庆祝儿子或女儿高中毕业，总之差不多任何东西……我的意思是说，只要在合理范围内，我是有求必应;可是很多情况不一定都是合情合理的。<br><br>

   I came to Shawshank when I was just twenty, and I am one of the few people in our happy little family who is willing to own up to what he did. I committed murder. I put a large insurance policy on my wife, who was three years older than I was, and then I fixed the brakes of the Chevrolet coupe her father had given us as a wedding present. It worked out exactly as I had planned, except I hadn't planned on her stopping to pick up the neighbour woman and the neighbour woman’s infant son on the way down Castle Hill and into town. The brakes let go and the car crashed through the bushes at the edge of the town common, gathering speed. Bystanders said it must have been doing fifty or better when it hit the base of the Civil War statue and burst into flames.<br><br>

   我刚满20岁就进了肖申克监狱。在这个快乐的小家庭中，我是少数几个肯痛痛快快承认自己干了什么的人。我犯了谋杀罪。我为大我三岁的太太投保了一笔数目庞大的寿险，然后在她父亲送我们的结婚礼物—一辆雪佛兰轿车的刹车上动了手脚。一切都按我的计划进行，只是没料到她会在从城堡山上下来进镇的路上把邻居太太和她的小儿子载上。结果刹车失灵，车速越来越快，冲到路边的树丛，撞上了一座内战纪念雕像的底座而轰然起火。目击者说，当时的车速足有每小时50英里。<br><br>

   I also hadn't planned on getting caught, but caught I was. I got a season’s pass into this place. Maine has no death penalty, but the district attorney saw to it that I was tried for all three deaths and given three life sentences, to run one after the other That fixed up any chance of parole I might have, for a long, long time. The judge called what I had done `a hideous, heinous crime; and it was， but it is also in the past now. You can look it up in the yellowing files of the Castle Rock Call, where the big headlines announcing my conviction look sort of funny and antique next to the news of Hitler and Mussolini and FDR’s alphabet soup agencies.<br><br>

   我也没料到自己居然会被逮住，但我却锒铛入狱，在这里长期服刑。缅因州没有死刑，但检察官认为我应为三条人命负责，数罪并罚，判了我三个无期徒刑。这样一来，我在很长一段时间内，都不可能有机会假释了。法官还在判决书上写着:罪行重大，死有余辜。的确如此，不过现在这些事都过去了。你可以去查查城堡岩的旧报纸档案，有关我的判决当时是地方报纸的头条新闻，与希特勒、墨索里尼以及罗斯福手下那些字母开头的特工人员的新闻并列，现在看来，实在有点可笑，也早已成为老掉牙的旧闻了。
<br><br>
   Have I rehabilitated myself, you ask? I don't know what that word means, at least as far as prisons and corrections go. I think it's a politician's word. It may have some other meaning, and it may be that I will have a chance to find out, but that is the future ...something cons teach themselves not to think about. I was young, good—looking, and from the poor side of town. I knocked up a pretty, sulky, headstrong girl who lived in one of the fine old houses on Carbine Street. Her father was agreeable to the marriage if I would take a job in the optical company he owned and `work my way up'.I found out that what he really had in mind was keeping me in his house and under his thumb, like a disagreeable pet that has not quite been housebroken and which may bite. Enough hate eventually piled up to cause me to do what I did. Given a second chance I would not do it again, but I'm not sure that means I am rehabilitated.
<br><br>
   你问我，我改过自新了吗?我甚至不知道什么叫改过自新，至少我不晓得那在监狱里代表什么意思，我认为那只是政客爱用的字眼，这个词也许有一些其他的含意，也许有那么一天，我会明白它的含意，但那是将来的事了…而将来是囚犯不愿意去想的。当年的我出身贫穷，但年轻英俊。我让一个富家女珠胎暗结，她出身卡宾街的豪华宅邸，漂亮娇纵、但老是闷闷不乐。她父亲同意让我们结婚，条件是我得在他的眼镜公司工作，“靠自己的实力往上爬。”后来我发现，他真正的用意是要让我随时都在他的监控下，就像管着家里的不太听话、还会咬人的猫狗一样。我的怨恨经年累月，越积越深，终于出手造成了这样的后果。如果再给我一次机会，我绝对不会重蹈覆辙，但我不确定这样是否表示我已经痛改前非了。<br><br>

   Anyway, it's not me I want to tell you about; I want to tell you about a guy named Andy}Dufresne. But before I can tell you about Andy, I have to explain a few other things about myself. It won't take long.<br><br>

   不过，我真正想说的不是我自己的事，而是安迪·杜佛尼的故事。但在我开始说安迪的故事之前，还得先说几件关于我的事情，反正不会花太多工夫。<br><br>

   As I said, I've been the guy who can get it for you here at Shawshank for damn near forty years. And that doesn't just mean contraband items like extra cigarettes or booze, although those items always top the list. But I've gotten thousands of other items for men doing time here, some of them perfectly legal yet hard to come by in a place where you've supposedly been brought to be punished. There was one fellow who was in for raping a little girl and exposing himself to dozens of others, I got him three pieces of pink Vermont marble and he did three lovely sculptures out of them—a baby, a boy of about twelve，and a bearded young man. He called them The Three Ages of Jesus, and those pieces of sculpture are now in the parlour of a man who used to be governor of this state.<br><br>

   正如我刚才所说，差不多40年来，在肖申克监狱里，我有办法帮你弄到任何东西。除了永远名列前茅的香烟和酒等违禁品之外，我还有办法弄到上千种其他东西，给这儿的人打发时间用。许多东西都是合法的，只是在这样一个惩罚人的地方是弄不到的。例如，有个家伙强暴了一个小女孩，还涉及几十件其他的案子。我给他找了三块粉红色的佛蒙特大理石，他雕了三座可爱的雕像，一个婴儿、一个12岁男孩，还有一个长胡须的年轻人，他称这些雕像为“耶稣的三个不同时期”，现在这些雕像已经成为前任州长客厅中的摆设了。<br><br>

   Or here's a name you may remember if you grew up north of Massachusetts—Robert Alan Cote. In 1951 he tried to rob the First Mercantile Bank of Mechanic Falls, and the hold-up turned into a bloodbath- six dead in the end, two of them members of the gang, three of them hostages，one of them a young state cop who put his head up at the wrong time and got a bullet in the eye. Cote had a penny collection. Naturally they weren't going to let him have it in here, but with a little help from his mother and a middleman who used to drive a laundry truck，I was able to get it to him. I told him，Bobby, you must be crazy, wanting to have a coin collection in a stone hotel full of thieves. He looked at me and smiled and said,I know where to keep them. They' II be safe enough. Don't you worry. And he was right. Bobby Cote died of a brain tumour in 1967，but that coin collection has never turned up.<br><br>

   如果你生长在北马萨诸塞州的话，一定能想起这个名字—罗伯特·艾伦·科特。他在1951年，企图抢劫莫堪尼克弗市第一商业银行，结果那次抢劫演变成血腥事件，死了六个人，包括两个强盗、三名人质，还有一个是一位年轻警察，他在错误的时间把头伸了出去，一颗子弹射中了他的眼睛。科特有收集钱币的嗜好。监狱自然不会准他将收藏品带进来，但在他母亲和洗衣房卡车司机的帮助下，我还是替他弄到了他想要的东西。我告诉他:你一定是疯了，竟然想在这个满是盗贼的石头旅馆中收藏钱币。他笑着对我说:“我知道该把钱币藏在哪里，绝对安全，你别担心。”他说得没错。直到1967年，他死于脑瘤时，他所收藏的钱币始终没有现过身。<br><br>

   I've gotten men chocolates on Valentine's Day; I got three of those green milkshakes they serve at McDonald’s around St Paddy's Day for a crazy Irishman named O'Mallety; I even arranged for a midnight showing of Deep Throat and The Devil in Miss Jones for a party of twenty men who had pooled their resources to rent the films…although I ended up doing a week in solitary for that little escapade. It's the risk you run when you're the guy who can get it.<br><br>

   我在情人节设法为狱友弄到巧克力。在圣帕迪日为一个叫欧迈利的疯狂爱尔兰人弄到三杯麦当劳的绿色奶昔;我甚至还安排了一次午夜剧场，为20个人放映《深喉》和《琼斯小姐体内的魔鬼》。他们为租这些电影花光了积蓄……虽然我因为这些越轨行动被关了一周禁闭，但要维持“神通广大”的英名，就必须冒这样的风险。<br><br>

   I've gotten reference books and fuck-books, joke novelties like handbuzzers and itching powder, and on more than one occasion I've seen that along-timer has gotten a pair of panties from his wife or his girlfriend... and 1 guess you' II know what guys in here do with such items during the long nights when time draws out like a blade. I don't get all those things gratis, and for some items the price comes high. But I don't do it just for the money, what good is money to me? I’m never going to own a Cadillac car or fly off to Jamaica for two weeks in February. I do it for the same reason that-a good butcher will only sell you fresh meat: I got a reputation and I want to keep it. The only two things I refuse to handle are guns and heavy drugs. l won’t help anyone kill himself or anyone else.I have enough killing on my mind to last me a lifetime.<br><br>

   我还能弄到参考书和黄色书刊、会让人发痒的粉末之类的恶作剧新奇玩意儿，甚至替被判长期徒刑的家伙弄到太太或女朋友的内裤…我猜你也知道这些人究竟是如何度过如刀割似的漫漫长夜了。这些东西并非免费的，有些东西代价不菲。但我绝不是光为钱来干这些事。金钱对我又有何用呢?我既无法拥有一辆凯迪拉克，更不能在二月天飞到牙买加去度假。因为与一个好屠夫只卖新鲜肉一样，我想得到个好名声并保持下去。只有两种东西，我绝对不碰，一是枪械，一是毒品。我不会帮助任何人自杀或杀人。在我的有生之年心里缠绕着太多的杀戮了。<br><br>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
